* {
  -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 35px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.row-height {
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: white;
}

.border-3 {
  border-width: 3px !important;
}

.row [class*="col-"] {
  transition: all 1s ease-in-out;
}

.font_Roboto {
  font-family: "Roboto", sans-serif;
}

.font_Comic {
  font-family: "Comic Neue", "Comic Sans MS", "Comic Sans";
}

#customNav {
  background-color: white;
  width: 450px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  height: 100%;
}

.navFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 50px;
  overflow: hidden;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.navFooter > button {
  right: 20px;
  width: 50%;
  top: 2px;
  background: transparent;
  outline: none;
  border: none;
}

.navFooter > button:hover {
  background-color: #e5e5e5;
}

#accessTokenForm {
  height: 50px;
  background-color: white;
  position: absolute;
  width: 100%;
  transform: translateY(150px);
  transition: all 0.3s ease;
}

#accessTokenForm > input {
  margin-top: 7px;
  width: 100%;
}

#accessTokenForm.tokenDisplay {
  transform: translateY(0px) !important;
}

#cardContainer {
  height: calc(100% - 120px);
  padding-left: 15px;
  overflow-y: scroll !important;
}

.blur {
  filter: blur(5px);
  overflow: hidden !important;
}

#header {
  height: 50px;
  padding: 7px 50px 0 40px;
  position: fixed;
  width: calc(100% - 450px);
  top: 0;
  display: inline-flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 18%);
}

#header > span{
  font-size: 1.5rem;
}

.headerBtns {
  display: inline-block;
}

#header button {
  margin: 0 10px;
  outline: none;
  border: none;
  padding: 0px;
  border-radius: 50%;
  background-color: transparent;
}

#header button:hover {
  background-color: #e5e5e5;
}

#header svg {
  width: 24px;
  height: 24px;
}

#backBtn{
  display: none;
}
.saveBtnMobile {
  display: none;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #customNav,
  .navFooter {
    width: 350px;
  }

  #MainPage,
  #header {
    width: calc(100% - 350px);
  }
}

@media (max-width: 1000px) {

  #customNav,
  .navFooter {
    width: 100%;
    border-width: 0 !important;
    position: fixed;
  }

  .saveBtnMobile  {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    background: none;
    border: none;
  }

  #customNav.inactive{
    transform: translateX(-100%);
  }

  #allLogsContainer {
    font: 0.9rem;
    width: 100%;
    height: 100%;
  }

  .logContainer{
    padding: 30px 15px 15px 18px;
  }

  #MainPage,
  #header {
    width: 100%;
  }

  #header {
    padding: 7px 10px;
  }
  
  #header svg {
  width: 15px;
  height: 15px;
  }

  #backBtn{
    display: block;
  }
  .logTitle{
    transform: translateX(-15px);
    font: 1.4rem;   
  }
}

/* custom themes for cards */

.cusTheme-darkcyan {
  border-left-color: darkcyan;
  color: darkcyan;
}
.cusTheme-darkorchid {
  border-left-color: darkorchid;
  color: darkorchid;
}
.cusTheme-darkturquoise {
  border-left-color: darkturquoise;
  color: darkturquoise;
}
.cusTheme-deeppink {
  border-left-color: deeppink;
  color: deeppink;
}
.cusTheme-deepskyblue {
  border-left-color: deepskyblue;
  color: deepskyblue;
}
.cusTheme-forestgreen {
  border-left-color: forestgreen;
  color: forestgreen;
}
.cusTheme-goldenrod {
  border-left-color: goldenrod;
  color: goldenrod;
}
.cusTheme-indigo {
  border-left-color: indigo;
  color: indigo;
}
.cusTheme-mediumseagreen {
  border-left-color: mediumseagreen;
  color: mediumseagreen;
}
.cusTheme-orange {
  border-left-color: orange;
  color: orange;
}
.cusTheme-royalblue {
  border-left-color: royalblue;
  color: royalblue;
}
.cusTheme-slateblue {
  border-left-color: slateblue;
  color: slateblue;
}
.cusTheme-skyblue {
  border-left-color: skyblue;
  color: skyblue;
}
.cusTheme-teal {
  border-left-color: teal;
  color: teal;
}

@media (hover: none) {
  button:hover {
    background-color: transparent !important;
  }
}
