* {
  -ms-overflow-style: none !important;
}

.row-height {
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: white;
}

.border-3 {
  border-width: 3px !important;
}

.row [class*="col-"] {
  transition: all 1s ease-in-out;
}

.font_Roboto {
  font-family: "Roboto", sans-serif;
}

.font_Comic {
  font-family: "Comic Neue", "Comic Sans MS", "Comic Sans";
}

.right {
  height: 100%;
  overflow-y: scroll;
}

#customNav {
  background-color: white;
  width: 450px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.navFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 50px;
  overflow: hidden;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.navFooter > button {
  right: 20px;
  width: 50%;
  top: 2px;
  background: transparent;
  outline: none;
  border: none;
}

.navFooter > button:hover {
  background-color: #e5e5e5;
}

#accessTokenForm {
  height: 50px;
  background-color: white;
  position: absolute;
  width: 100%;
  transform: translateY(150px);
  transition: all 0.3s ease;
}

#accessTokenForm > input {
  margin-top: 7px;
  width: 100%;
}

#accessTokenForm.tokenDisplay {
  transform: translateY(0px) !important;
}

#cardContainer {
  height: 100%;
  padding-top: 20px !important;
  padding-bottom: 120px !important;
  overflow-y: scroll !important;
}

.blur {
  filter: blur(5px);
  overflow: hidden !important;
}

#header {
  padding-left: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 18%), 0 1px 10px 0 rgb(0 0 0 / 14%), 0 2px 4px -1px rgb(0 0 0 / 25%);
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #customNav,
  .navFooter {
    width: 350px;
  }
}

@media (max-width: 1000px) {
  #customNav,
  .navFooter {
    width: 100%;
    border-width: 0 !important;
    position: fixed;
  }
}

/* custom themes for cards */

.cusTheme-darkcyan {
  border-left-color: darkcyan;
  color: darkcyan;
}
.cusTheme-darkorchid {
  border-left-color: darkorchid;
  color: darkorchid;
}
.cusTheme-darkturquoise {
  border-left-color: darkturquoise;
  color: darkturquoise;
}
.cusTheme-deeppink {
  border-left-color: deeppink;
  color: deeppink;
}
.cusTheme-deepskyblue {
  border-left-color: deepskyblue;
  color: deepskyblue;
}
.cusTheme-forestgreen {
  border-left-color: forestgreen;
  color: forestgreen;
}
.cusTheme-goldenrod {
  border-left-color: goldenrod;
  color: goldenrod;
}
.cusTheme-indigo {
  border-left-color: indigo;
  color: indigo;
}
.cusTheme-mediumseagreen {
  border-left-color: mediumseagreen;
  color: mediumseagreen;
}
.cusTheme-orange {
  border-left-color: orange;
  color: orange;
}
.cusTheme-royalblue {
  border-left-color: royalblue;
  color: royalblue;
}
.cusTheme-slateblue {
  border-left-color: slateblue;
  color: slateblue;
}
.cusTheme-skyblue {
  border-left-color: skyblue;
  color: skyblue;
}
.cusTheme-teal {
  border-left-color: teal;
  color: teal;
}

@media (hover: none) {
  button:hover {
    background-color: transparent;
  }
}
