.card {
  border-top: 0.2rem solid;
  font-weight: 400;
}

small {
  color: #757575;
  font-family: sans-serif;
}

.card-text.pl-4 {
  color: #111;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: capitalize;
}

.card-header p {
  align-self: baseline;
  margin-right: 5%;
  margin-bottom: 0.5rem;
}

.card > a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.addButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 65px;
  height: 65px;
  border-radius: 33px;
  background-color: #ffffff;
  outline: none;
  border: none;
  padding: 13px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 5px 18px 0 rgb(0 0 0 / 12%), 0 3px 15px -1px rgb(0 0 0 / 20%);
}

.addButton:hover {
  background-color: #e5e5e5;
}

#addModalContainer {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #2525258e;
  z-index: 10000;
  align-content: center;
}

.modaltoggle {
  display: block !important;
}

#addModalContainer > :last-child {
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.modalMain {
  background-color: white;
  transition: all 0.2s ease;
  transform: translateY(-100%);
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 5px 18px 0 rgb(0 0 0 / 12%), 0 3px 15px -1px rgb(0 0 0 / 20%);
}

.modalMain.transform {
  transform: translateY(0) !important;
}

option > div {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #000;
}

@media (hover: none) {
  .addButton:hover {
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 767px) {
  .addButton {
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 9px;
  }
}
