body {
  background-color: #eeeeee;
}

.searchResultsContainer {
  padding: 80px 2% 2% 2%;
}

.resultItemContainer {
  display: inline-flex;
  align-items: start;
  background: white;
  box-sizing: border-box;
  padding: 24px;
  border-bottom: 1px #eeeeee solid;
  width: 100%;
}

.resultItem {
  align-content: flex-start;
  flex: 1;
  width: 80%;
}

.resultItem a {
  text-align: start;
  color: #3d4db7 !important;
  display: block;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.resultItem div {
  text-align: start;
  font-size: 14px;
  margin-top: 8px;
  color: #111;
}

.resultItem :last-child {
  color: #aaa !important;
  font-size: 0.75rem;
  padding: 0;
}

.searchResults {
  width: 52%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

.resultsTitle {
  background: white;
  box-sizing: border-box;
  color: #757575;
  font-size: 14px;
  padding: 20px 0 15px 24px;
  border-bottom: 1px #eeeeee solid;
}

#missingContainer {
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}

#missingContainer :first-child {
  color: #1d1d1d;
  font-size: 22px;
  font-weight: 500;
}

#missingContainer img {
  margin: 26px auto;
}

#missingContainer :last-child {
  color: #3a3a3a;
  font-size: 18px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .searchResults {
    width: 100%;
  }
}
